.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_files
*.RData
*.lyr
*.zip
*.prj
*.sbn
*.sbx
*.sr.lock
*.cpg
docs
libs
output
renv/library
